<div id="<%= dom_id task %>" >
  <p style="font-size:20px;">
    <strong>Task name:</strong>
    <%= task.task_name %>
  </p>

  <p style="font-size:20px;">
    <strong>Task description:</strong>
    <%= task.task_description %>
  </p>

  <p style="font-size:20px;">
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

</div>
