<div id="<%= dom_id task %>">
  <p>
    <strong>Task name:</strong>
    <%= task.task_name %>
  </p>

  <p>
    <strong>Task description:</strong>
    <%= task.task_description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

</div>
